.section[b-w3114zwib6] {
  padding: 4rem 0;
  border-bottom: 1px solid #eee;
}

.section-title[b-w3114zwib6] {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 2rem;
}

.a[b-w3114zwib6]{
  color: black; 
  text-decoration: none;
}
.a:hover[b-w3114zwib6]{
  color: rgb(46, 46, 46);
}