<!-- Carrossel -->
    <div class="bg-light py-5">
        <div class="container-fluid px-0"> <!-- container-fluid e padding 0 -->
            <div class="d-flex justify-content-center">
                <div id="mainCarousel" class="carousel slide w-50" data-bs-ride="carousel">
                    <!-- controla o tamanho do carrossel -->
                    <div class="carousel-inner rounded-3 overflow-hidden shadow">
                        <div class="carousel-item active">
                            <img src="~/images/carrosel/imagem02.png" class="d-block w-100" alt="Tecnologia">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/carrosel/imagem03.png" class="d-block w-100" alt="Soluções">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/carrosel/imagem04.png" class="d-block w-100" alt="Cloud">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>
                </div>
            </div>
        </div>
    </div>