<!-- Rodapé -->
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3">
            <h5>Claudinho Enterprise</h5>
            <p class="text- light">Tecnologia com propósito</p>
        </div>
        <div class="col-md-4 mb-3">
            <h5>Links</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-white text-decoration-none">Sobre Nós</a></li>
                <li><a href="#" class="text-white text-decoration-none">Serviços</a></li>
                <li><a href="#" class="text-white text-decoration-none">Contato</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Contato</h5>
            <p class="text- light mb-1">contato@claudinho.com</p>
            <p class="text- light">(00) 0000-0000</p>
        </div>
    </div>
    <hr class="my-3 bg-light">
    <div class="text-center text- light">
        <small>© 2025 Claudinho Enterprise. Todos os direitos reservados.</small>
    </div>
</div>